
.navbar-brand {
  color: var(--bs-emphasis-color);
  font-size: 1.15rem;
}

.nav-link {
  color: var(--bs-body-color);
  font-weight: 500;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;

  &:hover,
  &.active {
    color: var(--bs-primary);
  }
}

.navbar-toggler {
  font-size: 1.4rem;
  color: var(--bs-emphasis-color);

  &:focus {
    box-shadow: none;
  }
}
